<head>
    <title>Cosmin's Todo List</title>
</head>

<body>
<div class="container">
    <header>
        <h1>Todo List ({{incompleteCount}})</h1>

        <label class="hide-completed">
            <input type="checkbox" checked="{{hideCompleted}}" />
            Hide Completed Tasks
        </label>

        {{> loginButtons}}

        {{#if currentUser}}
            <!--{{currentUser.username}}-->
            <form class="new-task">
                <input type="text" name="text" placeholder="Type to add new tasks" />
            </form>
        {{/if}}
    </header>

    <ul>
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</div>
</body>

<template name="task">
    <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
        <button class="delete">&times;</button>

        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

        {{#if isOwner}}
            <button class="toggle-private">
                {{#if private}}
                    Private
                {{else}}
                    Public
                {{/if}}
            </button>
        {{/if}}

        <span class="text"><strong>{{username}}</strong> - {{text}}</span>
    </li>
</template>